<div class="form-group">
    <input
        [class.is-invalid] = "ngControl.touched && ngControl.invalid"
        type={{type}}
        class="form-control" 
        [formControl] = "ngControl.control" 
        placeholder={{label}}
        style="margin-top: 5px; margin-bottom: 25px;"
    >
    <div *ngIf = "ngControl.control?.errors?.required" class="invalid-feedback">Παρακαλώ εισάγετε ένα {{label}}</div>
    <div *ngIf = "ngControl.control?.errors?.minlength" class="invalid-feedback">{{label}} πρέπει να περιέχει τουλάχιστον {{ngControl.control.errors.minlength['requiredLength']}} χαρακτρήρες</div>
    <div *ngIf = "ngControl.control?.errors?.isMatching" class="invalid-feedback">Οι κωδικοί δεν ταιριάζουν</div>
    <div *ngIf = "ngControl.control?.errors?.min" class="invalid-feedback">Πρέπει να είναι θετικός αριθμός</div>
    <div *ngIf = "ngControl.control?.errors?.pattern" class="invalid-feedback">Πρέπει να είναι θετικός αριθμός</div>
    <div *ngIf = "ngControl.control?.errors?.invalidPatternEmail" class="invalid-feedback">Παρακαλώ δώστε ένα έγκυρο email</div>
    <div *ngIf = "ngControl.control?.errors?.invalidPatternPass" class="invalid-feedback">Ο κωδικός πρόσβασης πρέπει να είναι τουλάχιστον 8 χαρακτήρες και να περιέχει τουλάχιστον ένα κεφαλαίο γράμμα, ένα μικρό γράμμα,ένα αριθμό και κάποιο σύμβολο (π.χ. #$*&@)</div>
</div>