<div class="container mt-3">
    <form #form = "ngForm" class="form-inline mb-3" (ngSubmit) ="getUsersWithRoles()" autocomplete="off">
        <div class="form-group px-2">
            <label>Όνομα χρήστη</label>
            <input type="text" class="form-control ml-1" style="width: 30 px;" name="searchUser"
                [(ngModel)]="userParams.searchUsername">
        </div>
        <select (change)="this.userParams.pageNumber = 1;this.getUsersWithRoles()" [(ngModel)]="userParams.pageSize" class="form-control form-control-sm" id="searchon" name="searchon">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
        <button class="btn btn-primary ml-1" type="submit">Apply filters</button>

    </form>        
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="col-md-2">Ον.χρήστη</th>
                <th scope="col">Όνομα</th>
                <th scope="col">Επώνυμο</th>
                <th scope="col">Email</th>
                <th scope="col">Ημ.γέννησης</th>
                <th scop e="col">Ρόλοι</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td class="col-md-2">{{user.username}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.dateOfBirth}}</td>
                <td>{{user.roles}}</td>
                <td>{{user.isDisabled ? "Απενεργοποιημένος": "Ενεργοποιημένος"}}</td>
                <td><button (click) = "changeUserStatus(user)" [className] ="user.isDisabled ? 'btn btn-info' : 'btn btn-danger'" >{{user.isDisabled ? "Ενεργοποίηση": "Απενεργοποίηση"}}</button></td>
                <td><button (click) = "openRolesModal(user)" class="btn btn-info">Επεξεργασία ρόλων</button></td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center" *ngIf="pagination">
        <pagination 
            [boundaryLinks]="true" 
            [totalItems]="pagination.totalItems"
            [itemsPerPage] = "pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage"
            (pageChanged) = "pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
     
        </pagination>
    </div>
</div>