<div style="margin-top: 15px;" *ngIf="bookingsFound.length > 0">
    <hr style="margin-top: 15px;">
    <h6 style="margin-top: 15px;">Γειά σου {{user.firstName}} {{user.lastName}}</h6>
  <table style="margin-top: 15px;" class="table table-bordered">
      <tr>
        <th>Κωδικός</th>
        <th>Τίτλος</th>
        <th>Ημερομηνία</th>
        <th>Ώρα</th>
        <th>Ημερομηνία/Ωρα κράτησης</th>
      </tr>
      <tr *ngFor="let booking of bookingsFound ; index as i">
          <td>{{booking.id}}</td>
          <td>{{booking.show.title}}</td>
          <td>{{booking.dateOfShow | date: 'd MMM, y'}}</td>
          <td>{{booking.show.timeStart | date: 'h:mm a' }}</td>
          <td>{{booking.bookingTimestamp | date: 'd MMM, y h:mm a'}}</td>
          <td><button  type="btn btn-info" class="btn btn-info" (click)="setAppear(booking.id, i)">Δήλωση παρουσίας</button></td>
          <td><button class="btn btn-info" (click)="openSeatsModal(i)">Θέσεις</button></td>
      </tr>
    </table>
</div>
<h6 style="margin: 15px;" *ngIf="bookingsFound.length == 0">Δεν έχετε καμία κράτηση</h6>