<!-- <ngx-gallery *ngIf="galleryImages" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery> -->
<div class="row" *ngIf="show">
    <div class="col-4">
        <div class="card">
            <img src="{{'./assets/theatre.png'}}" class="card-img-top img-thumbnail">
        </div>
        <div class="card-body">
            <div>
                <strong>Τίτλος: </strong>
                <p>{{show.title}}</p>
            </div>
            <div>
                <strong>Ημερομηνία παράστασης: </strong>
                <p>{{showDate | date: 'dd MMM yyyy'}}</p>
            </div>
            <div>
                <strong>Ώρα: </strong>
                <p>{{show.timeStart | date: 'h:mm a'}}</p>
            </div>
            <div>
                <strong>Διάρκεια: </strong>
                <p>{{show.duration}} λεπτά</p>
            </div>
            <div>
                <strong>Θέατρο: </strong>
                <p>{{show.hallName}}</p>
            </div>
            
        </div>
    </div>
    <div class="col-8">
        <tabset class="show-tabset" #showTabs>
            <tab heading= 'Πληροφορίες παράστασης {{show.title}}' (selectTab) ="onTabActivated($event)">
                <h4>Περιγραφή</h4>
                <p>{{show.description}}</p>
                <h4>Πρωταγωνιστές</h4>
                <p>{{show.actors}}</p>
                <h4>Σκηνοθεσία</h4>
                <p>{{show.directors}}</p>
                <hr>
                <h4>Είδος</h4>
                <p>{{show.genreDescription}}</p>
                <hr>
                <h4>Περιγραφή θεάτρου {{show.hallName}}</h4>
                <p>{{show.hallDescription}}</p>
                <h4>Διεύθυνση</h4>
                <p>{{show.hallAddress}}</p>
                <h4>Τηλέφωνο</h4>
                <p>{{show.hallPhone}}</p>
                <h4>email</h4>
                <p>{{show.hallEmail}}</p>
            </tab>
            <tab heading= 'Κρατήσεις' (selectTab) ="onTabActivated($event)">
                <app-booking-calendar-bookings [show] = "show" [showDate] ="showDate"></app-booking-calendar-bookings>
            </tab>
        </tabset>
    </div>
</div>